{% extends 'projects/base.html'%}
{% load static %}



{% block content %}
<!-- Main content area -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h1>Rouhollah <br> Ghobadinezhad</h1>
            <p> <span class="lp-1">Software Developer</span><br><br> Eager to learn, grow, and contribute to the ever-evolving world of technology. Open to opportunities that fuel my passion and expand my horizons. Let's connect and innovate together. </p>
            <a href="https://www.linkedin.com/in/rouhollah-ghobadinezhad-b55b84174" class="btn btn-primary">Connect</a>
        </div>
        <div class="col-md-6">
            <!-- You can add an image here -->
            <img src="static/projects/assets/img/me.jpeg" alt="rgho" class="img-fluid rounded-4">
        </div>
    </div>
</div>
<div class="d-flex justify-content-center align-items-center full-height">
    <div class="container text-center">
        <h1>This is a centered container</h1>
        <p>Any content you place here will be centered.</p>
    </div>
</div>
{% endblock %}