{% extends 'projects/base.html' %}
{% load static %}

{% block title %} 
  Projects | rgho 
{% endblock %}

{% block content %}
 <div class="container-xl p-5">
  <div class="row">
      {% for project in projects%}
  <div class="col-md-4">
    <div class="card mb-2 lg" style="width: 18rem;">
      <img src="{% static project.image %}" class="card-img-top" alt="{{ project.description }}">
      <div class="card-body">
        <h5 class="card-title">{{ project.title}}</h5>
        <p class="card-text">{{ project.date}} : {{ project.description }} <br> {{ project.technology}}</p>
        <a href="{% url 'projects:project_detail' project.pk %}" class="btn btn-primary">Details</a>
      </div>
    </div>
  </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
