{%extends 'projects/base.html' %}
{% load static %}

{%block title %} {{projects.title}} | rgho {% endblock %}
{% block content %}
    <h2> this is project <span style="color: blue;">{{ projects.pk}}</span> </h2>
    <img src="{% static projects.image %}" class="card-img-top" style="max-width: 500px;" alt="{{ project.description }}">
    <h5 class="card-title">{{ projects.title}}</h5>
    <p class="card-text">{{ projects.date}} : {{ projects.description }}
         <br> {{ projects.technology}}</p>
{% endblock %}