{% extends 'projects/base.html' %}
{% load static %}

{% block title %} 
  Projects | rgho 
{% endblock %}

{% block content %}
<div class="container-xl py-5">
  <div class="row">
      {% for project in projects%}
  <div class="col-12 col-sm-6 col-md-4 mb-4">
    <div class="card h-100">
      <img src="{% static project.image %}" class="card-img-top img-fluid" alt="{{ project.description }}">
      <div class="card-body">
        <h5 class="card-title">{{ project.title}}</h5>
        <p class="card-text"><hr class="project-cards-hr mx-auto">Date: {{ project.date}} <br> {{ project.description }} <br> Technology: {{ project.technology}}</p>
        <a href="{% url 'projects:project_detail' project.pk %}" class="btn btn-primary">Details</a>
      </div>
    </div>
  </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
