{% extends 'projects/base.html' %}
{% load static %}

{% block title %} 
  Projects | rgho 
{% endblock %}

{% block content %}
<div class="container-xl py-5">
  <div class="row">
    {% for project in projects %}
      <div class="col-12 col-sm-6 col-md-4 mb-4">
        <div class="card h-100">
          <img src="{% static project.image %}" class="card-img-top img-fluid" alt="{{ project.description }}">
          <div class="card-body d-flex flex-column"> <!-- Add flex here -->
            <div class="mb-auto"> <!-- This div pushes content below it to the bottom -->
              <h5 class="card-title">{{ project.title }}</h5>
              <p class="card-text">
                <hr class="project-cards-hr mx-auto">
                <span class="bold">Date: </span>{{ project.date}} <br> 
                {{ project.description }} <br> 
                <span class="bold">Technology:</span> {{ project.technology }}
              </p>
            </div>
            <a href="{% url 'projects:project_detail' project.pk %}" class="btn btn-light mt-3">Details</a> <!-- mt-3 (margin-top) is optional, for spacing -->
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
